[submodule "magnet-converter"]
	path = magnet-converter
	url = https://github.com/ivan386/magnet-converter.git
[submodule "gravity"]
	path = gravity
	url = https://github.com/ivan386/gravity.git
[submodule "vkontakte-music"]
	path = vkontakte-music
	url = https://github.com/ivan386/vkontakte-music.git
[submodule "magnet-uri-logo"]
	path = magnet-uri-logo
	url = https://github.com/ivan386/magnet-uri-logo.git
[submodule "sparse_light"]
	path = sparse_light
	url = https://github.com/ivan386/sparse_light.git
[submodule "wrap"]
	path = wrap
	url = https://github.com/ivan386/js-ipfs-wrap-with-directory.git
[submodule "xsl-namespace-show"]
	path = xsl-namespace-show
	url = https://github.com/ivan386/xsl-namespace-show.git
[submodule "xslt-tester"]
	path = xslt-tester
	url = https://github.com/ivan386/xslt-tester.git
[submodule "ipfs-online-player"]
	path = ipfs-online-player
	url = https://github.com/ivan386/ipfs-online-player.git
[submodule "xml-site-index-test"]
	path = xml-site-index-test
	url = https://github.com/ivan386/xml-site-index-test.git
[submodule "xml-progressive-loading"]
	path = xml-progressive-loading
	url = https://github.com/ivan386/xml-progressive-loading.git
