[submodule "magnet-converter"]
	path = magnet-converter
	url = https://github.com/ivan386/magnet-converter.git
[submodule "gravity"]
	path = gravity
	url = https://github.com/ivan386/gravity.git
[submodule "vkontakte-music"]
	path = vkontakte-music
	url = https://github.com/ivan386/vkontakte-music.git
[submodule "magnet-uri-logo"]
	path = magnet-uri-logo
	url = https://github.com/ivan386/magnet-uri-logo.git
[submodule "sparse_light"]
	path = sparse_light
	url = https://github.com/ivan386/sparse_light.git
